<div class="agrihusa">
  <div class="modal-header">
    <h6 class="modal-title w-100">{{ titleModal }}</h6>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="onCerrarModal()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="container-fluid px-0 g-0">
      <form [formGroup]="formulario">
        <div class="row gx-3 align-items-baseline">
          <div class="col-12 col-md-6" *ngFor="let field of fields">
            <div
              class="form-group required"
              [ngClass]="{ invalid: esControlInvalido(getControlName(field.key)) }"
            >
              <label class="form-label">{{ field.label }}: </label>
              <ng-select
                *ngIf="field.options; else textControl"
                class="text-uppercase"
                [items]="field.options"
                bindLabel="descripcion"
                bindValue="maestroId"
                placeholder="-- SELECCIONAR --"
                [clearable]="true"
                [searchable]="false"
                [formControlName]="getControlName(field.key)"
              ></ng-select>
              <ng-template #textControl>
                <input class="form-control agrihusa" [formControlName]="getControlName(field.key)" />
              </ng-template>
              <div
                *ngIf="esControlInvalido(getControlName(field.key))"
                class="invalid-feedback"
              >
                <span>Campo requerido</span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <agrihusa-button
      texto="Cancelar"
      color="danger"
      icon="x"
      (click)="onCerrarModal()"
    ></agrihusa-button>
    <agrihusa-button
      texto="Guardar"
      icon="check"
      (click)="onGuardar()"
    ></agrihusa-button>
  </div>
</div>
