<div
  class="table-responsive"
  [ngClass]="{
    'table-sticky table-sticky--height':
      datasource.length > 10
  }"
>
  <table class="table tbl-grid m-0 head-no-rounded">
    <caption class="d-none">
      Tabla de mantenimiento de vías
    </caption>

    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Vía</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>

    <tbody *ngIf="!loading">
      <tr
        *ngFor="
          let via of datasource;
          index as i;
          trackBy: trackByViaId
        "
        tabindex="0"
        [class]="'c-pointer tbl-row tbl-row-' + i"
        [ngClass]="{
          active: via.id === itemId
        }"
        [attr.aria-selected]="via.id === itemId"
        (click)="onSeleccionarFila(via)"
        (keydown.enter)="onSeleccionarFila(via)"
      >
        <td>{{ via.id }}</td>

        <td>
          <strong>{{ via.descripcion }}</strong>
        </td>

        <td>
          <span
            class="labels"
            [ngClass]="{
              'labels-activo': via.activo,
              'labels-inactivo': !via.activo
            }"
          >
            <span
              class="labels_circle"
              aria-hidden="true"
            ></span>

            <span>
              {{
                via.activo
                  ? 'ACTIVO'
                  : 'INACTIVO'
              }}
            </span>
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-container *ngIf="!loading && !totalItems">
    <agrihusa-no-results></agrihusa-no-results>
  </ng-container>

  <ng-container *ngIf="loading">
    <agrihusa-loading></agrihusa-loading>
  </ng-container>
</div>

<table-footer-pagination
  [totalItems]="totalItems"
  [totalItemsPerPage]="datasource.length"
  [page]="page"
  [pageSize]="pageSize"
  (changePaginate)="onChangePaginate($event)"
></table-footer-pagination>