<div class="modal-header">
  <div>
    <p class="modal-eyebrow mb-1">
      Gestión logística
    </p>

    <h5 class="modal-title">
      {{ titleModal }}
    </h5>
  </div>

  <button
    type="button"
    class="btn-close"
    aria-label="Cerrar"
    title="Cerrar"
    (click)="onCerrarModal()"
  ></button>
</div>

<div class="modal-body">
  <form
    id="formularioDespacho"
    [formGroup]="formulario"
    (ngSubmit)="onGuardar()"
  >
    <section class="form-section">
      <h6 class="form-section-title">
        Información general
      </h6>

      <div class="row gx-3">
        <div class="col-12 col-md-6 col-xl-3">
          <div class="form-group">
            <label
              class="form-label"
              for="fechaDespacho"
            >
              Fecha de despacho:
              <span class="text-danger">*</span>
            </label>

            <input
              id="fechaDespacho"
              type="date"
              class="form-control"
              formControlName="fechaDespacho"
              [class.is-invalid]="
                controlInvalido('fechaDespacho')
              "
            />

            <div class="invalid-feedback">
              Selecciona la fecha de despacho.
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-xl-3">
          <div class="form-group">
            <label
              class="form-label"
              for="fechaEstimadaLlegada"
            >
              Llegada estimada:
              <span class="text-danger">*</span>
            </label>

            <input
              id="fechaEstimadaLlegada"
              type="date"
              class="form-control"
              formControlName="fechaEstimadaLlegada"
              [class.is-invalid]="
                controlInvalido(
                  'fechaEstimadaLlegada'
                )
              "
            />

            <div class="invalid-feedback">
              Selecciona la fecha estimada.
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-xl-3">
          <div class="form-group">
            <label
              class="form-label"
              for="clienteDespacho"
            >
              Cliente:
              <span class="text-danger">*</span>
            </label>

            <ng-select
              inputId="clienteDespacho"
              [items]="clientes"
              bindLabel="razonSocial"
              bindValue="id"
              placeholder="-- SELECCIONAR --"
              [clearable]="true"
              [searchable]="true"
              formControlName="clienteId"
              [class.is-invalid]="
                controlInvalido('clienteId')
              "
            ></ng-select>

            <div
              *ngIf="controlInvalido('clienteId')"
              class="invalid-feedback d-block"
            >
              Selecciona un cliente.
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-xl-3">
          <div class="form-group">
            <label
              class="form-label"
              for="operadorDespacho"
            >
              Operador logístico:
              <span class="text-danger">*</span>
            </label>

            <ng-select
              inputId="operadorDespacho"
              [items]="operadores"
              bindLabel="nombreComercial"
              bindValue="id"
              placeholder="-- SELECCIONAR --"
              [clearable]="true"
              [searchable]="true"
              formControlName="operadorLogisticoId"
              [class.is-invalid]="
                controlInvalido(
                  'operadorLogisticoId'
                )
              "
            ></ng-select>

            <div
              *ngIf="
                controlInvalido(
                  'operadorLogisticoId'
                )
              "
              class="invalid-feedback d-block"
            >
              Selecciona un operador logístico.
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="form-section mt-4">
      <h6 class="form-section-title">
        Información de transporte
      </h6>

      <div class="row gx-3">
        <div class="col-12 col-md-6 col-xl-3">
          <div class="form-group">
            <label
              class="form-label"
              for="viaDespacho"
            >
              Vía:
              <span class="text-danger">*</span>
            </label>

            <ng-select
              inputId="viaDespacho"
              [items]="vias"
              bindLabel="descripcion"
              bindValue="id"
              placeholder="-- SELECCIONAR --"
              [clearable]="true"
              [searchable]="true"
              formControlName="viaId"
              [class.is-invalid]="
                controlInvalido('viaId')
              "
            ></ng-select>

            <div
              *ngIf="controlInvalido('viaId')"
              class="invalid-feedback d-block"
            >
              Selecciona una vía.
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-xl-3">
          <div class="form-group">
            <label
              class="form-label"
              for="navieraDespacho"
            >
              Naviera:
              <span class="text-danger">*</span>
            </label>

            <ng-select
              inputId="navieraDespacho"
              [items]="navieras"
              bindLabel="nombre"
              bindValue="id"
              placeholder="-- SELECCIONAR --"
              [clearable]="true"
              [searchable]="true"
              formControlName="navieraId"
              [class.is-invalid]="
                controlInvalido('navieraId')
              "
            ></ng-select>

            <div
              *ngIf="controlInvalido('navieraId')"
              class="invalid-feedback d-block"
            >
              Selecciona una naviera.
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-xl-3">
          <div class="form-group">
            <label
              class="form-label"
              for="destinoDespacho"
            >
              Destino:
              <span class="text-danger">*</span>
            </label>

            <ng-select
              inputId="destinoDespacho"
              [items]="destinos"
              bindLabel="ciudad"
              bindValue="id"
              placeholder="-- SELECCIONAR --"
              [clearable]="true"
              [searchable]="true"
              formControlName="destinoId"
              [class.is-invalid]="
                controlInvalido('destinoId')
              "
            ></ng-select>

            <div
              *ngIf="controlInvalido('destinoId')"
              class="invalid-feedback d-block"
            >
              Selecciona un destino.
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-xl-3">
          <div class="form-group">
            <label
              class="form-label"
              for="puertoDespacho"
            >
              Puerto de llegada:
              <span class="text-danger">*</span>
            </label>

            <ng-select
              inputId="puertoDespacho"
              [items]="puertos"
              bindLabel="puerto"
              bindValue="id"
              placeholder="-- SELECCIONAR --"
              [clearable]="true"
              [searchable]="true"
              formControlName="puertoLlegadaId"
              [class.is-invalid]="
                controlInvalido('puertoLlegadaId')
              "
            ></ng-select>

            <div
              *ngIf="
                controlInvalido('puertoLlegadaId')
              "
              class="invalid-feedback d-block"
            >
              Selecciona un puerto de llegada.
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="form-section mt-4">
      <h6 class="form-section-title">
        Producto y carga
      </h6>

      <div class="row gx-3">
        <div class="col-12 col-md-6 col-xl-3">
          <div class="form-group">
            <label
              class="form-label"
              for="productoDespacho"
            >
              Producto:
              <span class="text-danger">*</span>
            </label>

            <ng-select
              inputId="productoDespacho"
              [items]="productos"
              bindLabel="nombre"
              bindValue="id"
              placeholder="-- SELECCIONAR --"
              [clearable]="true"
              [searchable]="true"
              formControlName="productoId"
              [class.is-invalid]="
                controlInvalido('productoId')
              "
            ></ng-select>

            <div
              *ngIf="controlInvalido('productoId')"
              class="invalid-feedback d-block"
            >
              Selecciona un producto.
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-xl-3">
          <div class="form-group">
            <label
              class="form-label"
              for="variedadDespacho"
            >
              Variedad:
              <span class="text-danger">*</span>
            </label>

            <ng-select
              inputId="variedadDespacho"
              [items]="variedades"
              bindLabel="nombre"
              bindValue="id"
              placeholder="-- SELECCIONAR --"
              [clearable]="true"
              [searchable]="true"
              [readonly]="
                !formulario.controls.productoId.value
              "
              formControlName="variedadId"
              [class.is-invalid]="
                controlInvalido('variedadId')
              "
            ></ng-select>

            <div
              *ngIf="controlInvalido('variedadId')"
              class="invalid-feedback d-block"
            >
              Selecciona una variedad del producto.
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-xl-3">
          <div class="form-group">
            <label
              class="form-label"
              for="cantidadDespacho"
            >
              Cantidad:
              <span class="text-danger">*</span>
            </label>

            <input
              id="cantidadDespacho"
              type="number"
              class="form-control"
              formControlName="cantidad"
              min="0.01"
              step="0.01"
              placeholder="0.00"
              [class.is-invalid]="
                controlInvalido('cantidad')
              "
            />

            <div class="invalid-feedback">
              Ingresa una cantidad mayor que cero.
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-xl-3">
          <div class="form-group">
            <label
              class="form-label"
              for="unidadDespacho"
            >
              Unidad:
              <span class="text-danger">*</span>
            </label>

            <ng-select
              inputId="unidadDespacho"
              [items]="unidadesMedida"
              bindLabel="descripcion"
              bindValue="valor"
              placeholder="-- SELECCIONAR --"
              [clearable]="true"
              [searchable]="false"
              formControlName="unidadMedida"
              [class.is-invalid]="
                controlInvalido('unidadMedida')
              "
            ></ng-select>

            <div
              *ngIf="controlInvalido('unidadMedida')"
              class="invalid-feedback d-block"
            >
              Selecciona una unidad de medida.
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="form-section mt-4">
      <h6 class="form-section-title">
        Seguimiento del despacho
      </h6>

      <div class="row gx-3">
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label
              class="form-label"
              for="contenedorDespacho"
            >
              Número de contenedor:
              <span class="text-danger">*</span>
            </label>

            <input
              id="contenedorDespacho"
              type="text"
              class="form-control text-uppercase"
              formControlName="numeroContenedor"
              maxlength="20"
              autocomplete="off"
              placeholder="Ejemplo: MSKU1234567"
              [class.is-invalid]="
                controlInvalido(
                  'numeroContenedor'
                )
              "
            />

            <div class="invalid-feedback">
              Ingresa entre 4 y 20 letras, números o
              guiones.
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-group">
            <label
              class="form-label"
              for="situacionDespacho"
            >
              Situación:
              <span class="text-danger">*</span>
            </label>

            <ng-select
              inputId="situacionDespacho"
              [items]="situaciones"
              bindLabel="descripcion"
              bindValue="id"
              placeholder="-- SELECCIONAR --"
              [clearable]="true"
              [searchable]="true"
              formControlName="situacionId"
              [class.is-invalid]="
                controlInvalido('situacionId')
              "
            ></ng-select>

            <div
              *ngIf="controlInvalido('situacionId')"
              class="invalid-feedback d-block"
            >
              Selecciona la situación del despacho.
            </div>
          </div>
        </div>

        <div class="col-12 mt-3">
          <div class="form-group">
            <label
              class="form-label"
              for="observacionesDespacho"
            >
              Observaciones:
            </label>

            <textarea
              id="observacionesDespacho"
              class="form-control text-uppercase"
              formControlName="observaciones"
              maxlength="500"
              rows="3"
              placeholder="Información adicional del despacho"
              [class.is-invalid]="
                controlInvalido('observaciones')
              "
            ></textarea>

            <div class="invalid-feedback">
              Las observaciones no pueden superar
              500 caracteres.
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>

<div class="modal-footer">
  <agrihusa-button
    texto="Cancelar"
    color="danger"
    icon="x"
    (click)="onCerrarModal()"
  ></agrihusa-button>

  <agrihusa-button
    texto="Guardar"
    icon="check"
    (click)="onGuardar()"
  ></agrihusa-button>
</div>