<div class="header_container-fluid">
  <div class="header_container-fluid-div">
    <div class="header-shell">
      <div class="header-container-left">
      <div class="header-navbar-button px-2">
        <button class="navbar-toggler text-white" type="button" (click)="toggleMenu(false)">
          <span class="feather icon-menu"></span>
        </button>
      </div>

      <div class="agrihusa-header__title">
        <a href="javascript:void(0)" class="link-to-landing">AGRIHUSA</a>
      </div>

      <div class="header-combo">
        <div class="header-combo-content">
          <label class="header-combo-label" for="rolId">ROL</label>
          <ng-select
            inputId="rolId"
            class="text-uppercase header-ng-select"
            placeholder="(Seleccione rol)"
            [items]="roles"
            bindLabel="descripcion"
            bindValue="idRol"
            [searchable]="false"
            [clearable]="false"
            [(ngModel)]="rolSeleccionado"
          ></ng-select>
        </div>
      </div>
    </div>

      <div class="header-container-right">
        <div class="header-dropdown-toggle" role="button" aria-expanded="true">
        <div class="profile-group text-white me-3">
          <div class="user-meta">
            <h6 class="mb-0 fw-bold header-container-right-username">
              {{ nombreUsuario.toUpperCase() }}
            </h6>
            <h6 class="mb-0 header-container-right-address">
              {{ usuario.toUpperCase() }} | {{ fecSesion }}
            </h6>
          </div>
          <div class="avatar-box">
            <span>{{ inicialesUsuario }}</span>
          </div>
        </div>

        <button class="logout-btn" (click)="logout()" title="Cerrar sesion">
          <span class="feather icon-log-out"></span>
          <span>Cerrar sesion</span>
        </button>
      </div>
    </div>
    </div>
  </div>
</div>
