@use "assets/nl/variables" as *;
@use "bootstrap/scss/bootstrap" with (
  $theme-colors: $theme-colors,
  $grid-breakpoints: $grid-breakpoints,
  $container-max-widths: $container-max-widths
);
@use "assets/nl/nl" as *;
@use "@ng-select/ng-select/themes/default.theme.css";
@use "assets/icons/css/iconfont.css";

html,
body {
  margin: 0;
  min-height: 100%;
  font-family: Calibri, Arial, sans-serif;
  background: #f4f7fc;
  position: relative;
}

* {
  box-sizing: border-box;
}

